/**
 * CONTENTS
 *
 * SETTINGS
 * Global...............Globally-available variables and config.
 *
 * GENERIC
 * Box-sizing...........Better default `box-sizing`.
 *
 * BASE
 * Headings.............H1–H6 styles.
 *
 * COMPONENTS
 * #header............The main page header.
 * #footer............The main page footer.
 * buttons..............Button elements.
 *
 * SECTIONS
 *
 * MODIFIER CLASSES
 *
 */



 /*------------------------------------*\
  SETTINGS
\*------------------------------------*/

@font-face {
  font-family: 'aileron';
  src: url('assets/fonts/Aileron-Light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'aileron';
  src: url('assets/fonts/Aileron-SemiBold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'aileron';
  src: url('assets/fonts/Aileron-Bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

/* GLOBAL VARIABLES */

:root {

  /* Colors */
  --color-light-purple: #F8D5F3;
  --color-light-grey: #b5b5b5;
  --color-dark-blue: rgb(41, 40, 41);


  /* font colors */
  --color-paragraph: #333;
  --color-headings: rgb(36, 26, 82);
}


/*------------------------------------*\
GENERIC
\*------------------------------------*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}




/*------------------------------------*\
BASE
\*------------------------------------*/

body {
  font-family: 'aileron-bold', 'Sans-Serif';
  text-align: left;
}

h1, h2, p {
  display: block;
  direction: ltr;
  text-align: center;
  padding: 10px;
  color: var(--color-headings);
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
}

p {
  font-size: 1.2rem;
  font-weight: 300;
  color:var(--color-paragraph);
  text-align: center;
}

.section {
  padding: 3rem 1rem;
}

.btn {
  width: 180px;
  padding: 1.5rem 2rem;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  background-color: #FFF;
  cursor: pointer;
  text-decoration: none;
  color: var(--color-headings);
  transition: transform 0.2s linear;
}

.btn:hover {
  transform: scale(1.05);
}

@media only screen and (min-width: 600px) {

  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 3rem;
  }

  .section {
    padding: 6rem 1rem;
  }

}



/*------------------------------------*\
 # HEADER
\*------------------------------------*/


/* Mobile-first styling */

.header-main {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #000;
}

/* navigation nav element */
.primary-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  color: #fff;
  padding: 0 0.8rem;
}

.brand {
  display: flex;
  font-size: 1.5rem;
  padding: 1rem 0;
  text-decoration: none;
  color: #fff;
}

.brand__name {
  padding: 6px 0 0 8px;
}

.brand__img {
  width: 40px;
}

.calltoaction-btn {
  display: block;
  margin: 4rem auto;
}

/* container for all nav links */
.primary-nav__links {
  width: 100%;
}

/* navigation ul element */
.primary-nav__list {
  margin: 0;
  padding: 1rem 0;
  width: 100%;
  display: none;
  flex-direction: column;
  list-style-type: none;
  text-align: center;
}

.primary-nav__list.active {
  display: flex;
}

/* navigation li elements */
.primary-nav__item {
  list-style: none;
}

/* navigation a elements */
.primary-nav__link {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 0;
  cursor: pointer;
}

.primary-nav__link:hover {
  text-decoration: underline;
  color: var(--color-light-purple);
}

.toggle-btn {
  width: 30px;
  height: 23px;
  position: absolute; 
  top: 1.5rem;
  right: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.toggle-btn.active {
  justify-content: space-between;
}

.toggle-btn span {
  background-color: #fff;
  height: 3px;
  width: 100%;
  border-radius: 10px;
}


/* Styling for devices bigger than mobile */

@media only screen and (min-width: 600px) {

  .toggle-btn {
    display: none;
  }

  .primary-nav {
    flex-direction: row;
    align-items: center;
  }

  /* container for all nav links */
  .primary-nav__links {
    display: initial;
    width: auto;
  }

  /* navigation ul element */
  .primary-nav__list {
    display: flex;
    flex-direction: row;
    padding: 0;
  }

  /* navigation a elements */
  .primary-nav__link {
    padding: 1rem;
  }

}


/*------------------------------------*\
 # HERO
\*------------------------------------*/

.hero-section {
  margin-top: 3rem;
  background: url('assets/img/hero-img.jpg'), var(--color-headings);
  background-size: cover;
  background-position: center;
}

.hero-section span {
  display: block;
}

.hero-section__sub-title {
  font-size: 1rem;
}

@media only screen and (min-width: 600px) {

  .hero-section__sub-title {
    font-size: 2rem;
  }

}



/*------------------------------------*\
# WORK
\*------------------------------------*/

.logos {
  padding-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  object-fit: scale-down;
}

.logos__img {
  max-width: 100px;
}

.photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.photos__img {
  width: 100%;
  height: auto;
  padding: 1em;
}






/*------------------------------------*\
# SERVICES
\*------------------------------------*/


.services-section {
  background-color: var(--color-light-purple);
}

.services-section p {
  line-height: 3rem;
}


/*------------------------------------*\
# ABOUT
\*------------------------------------*/


/* Header, section text, img styling, grid CSS styling mobile first */

.team {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.member {
  flex-grow: 1;
  flex-basis: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.member__img {
  max-width: 60%;
  border-radius: 50%;
}

.member__bio {
  margin-top: 1rem;
  font-size: 15px;
}






/*------------------------------------*\
 # CONTACT
\*------------------------------------*/


.contact-section {
  display: flex;
  flex-direction: column;
  background-color: var(--color-dark-blue);
  color: #fff;
}

.contact-section h2, .contact-section p {
  color: #fff;
}

form.form {
  text-transform: uppercase;
  width: 100%;
  margin-top: 3rem;
}

.form__field {
  margin-bottom: 2rem;
}

.form__label {
  display: block;
  padding: 0.2rem 0.2rem 0 0;
}

.form__input {
  border: none;
  width: 100%;
  padding: 0.4rem 0.3rem;
  border-radius: 2px;
}

.btn--form {
  width: 200px;
  background-color: #fff;
  margin-top: 2rem;
}

/* name and lastname group */
.form__name {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.form__name--first, .form__name--last {
  flex-grow: 1;
}





/*------------------------------------*\
 # FOOTER
\*------------------------------------*/

.footer-section {
  background-color: black;
  margin-bottom: 0;
  text-align: center;
}

.footer-section p {
  color: var(--color-light-grey);
}

i {
  font-family:'FontAwesome';
  content: 'f099';
  color:white;
  padding: 10px;
  font-size: 20px;
}

i.fa-linkedin {
  content: 'f08c';
}

i.fa-twitter {
  content: 'f099';
}

i.fa-facebook {
  content: 'f09a';
}



/*------------------------------------*\
  MODIFIER CLASSES
\*------------------------------------*/

/* width modifier classes */

.center {
  margin-left: auto;
  margin-right: auto;
  max-width: 60rem;
}

.width-lg {
  max-width: 60rem;
}

.width-md {
  max-width: 40rem;
}

.width-sm {
  max-width: 20rem;
}


/* stack modifier classes */

.stack-lg > * + * {
  margin-top: 3rem;
}

.stack-md > * + * {
  margin-top: 1.5rem; 
}

.stack-sm > * + * {
  margin-top: 0.5rem;
}